

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Joshep Hitler Games</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" lang="en" content="">
       
     
    </head>
    <body>
    <!-- banner -->
    <div class="row row--banner">
            <section class="row container-medium banner-content">
            <h1 class="banner-content__heading" style="color:white">
                 Mini Information Games
            </h1>
        </section>
    </div>
    <!-- features -->
    <div class="row row--white row--padding-wide features">
        <div class="row container-medium">
            <div class="row features__row">
                <div class="col-narrow--right features__bike">
                </div>
                <div class="col-wide">
                    <h2 class="features__heading" style="color:white">
                        Grand Theft Auto: San Andreas
                    </h2>
       
           
           <img class="img img-responsive" src="https://upload.wikimedia.org/wikipedia/id/c/c4/GTASABOX.jpg"><br>


           <p style="color:white">Grand Theft Auto: San Andreas adalah permainan video laga-petualangan yang dikembangkan oleh Rockstar North, dan diterbitkan oleh Rockstar games. Permainan ini adalah permainan 3D ke-3 dalam seri Grand Theft Auto, yang ke-5 pada rilis konsol dan permainan ke-7 secara keseluruhan.</p>
        </div>
            </div>
            <div class="row features__row">
                <div class="col-narrow features__phone">
                </div>
                <div class="col-wide--right features__padding">
                    <h2 class="features__heading" style="color:white">
                        God of War
                    </h2>
                    <img class="img img-responsive" src="https://id-live-01.slatic.net/p/bdb99d904739c9bff7568d2d9901370a.jpg"><br>
            <p style="color:white">
                God of War adalah game buatan Santa Monica Studio, game yang liris ditahun 2005 ini sangat populer hingga membuat beberapa games God of War. Dan games God of War yang terbaru liris di tahun 2018 oleh studio yang sama yaitu Santa Monica Studio
            </p><br>
                </div>
            </div>
            <div class="row features__row">
                <div class="col-narrow--right features__safe">
                </div>
                <div class="col-wide">
                    <h2 class="features__heading" style="color:white">
                        Guitar Hero
                    </h2>
                    <img class="img img-responsive" src="https://upload.wikimedia.org/wikipedia/id/9/93/Guitar-hero-iii-cover-image.jpg"><br>
            <p class="features" style="color:white">Guitar Hero adalah rangkaian video game game ritme musik yang pertama kali dirilis pada tahun 2005, di mana pemainnya menggunakan pengontrol game berbentuk gitar untuk mensimulasikan permainan utama, gitar bass, dan gitar ritme di banyak lagu.</p>
            <br>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="row row--dark-grey row--padding-narrow">
        <footer class="row container-wide">
            <div class="col-wide">
            </div>
                </footer>
    </div>
    </body>
    </html>
